  body{
    width: 100%;
    height: 100%;
  }

  #overflow{
    overflow: visible;
  }

  #size{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
  }
  
  #matrix1{
    margin-top: 1%;
    margin-left: 50%;
  }

  #matrix2{
    margin-top: 1%;
    margin-left: 15%;
  }

  #posicion{
    margin-left: 22.5%;
  }

  #letra{
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
  }

  .boton1{
    display: block;
    margin-top: 1%;
    margin-left: 50%;
  }

  .boton2{
    display: none;
    margin-top: 1%;
    margin-left: 80%;
  }

  .boton3{
    margin-top: 1%;
    margin-left: 130%;
  }

  #espaciar{
    padding-left: 11%;
  }
  
  .square {
    background-color: white;
    border: 1px solid black;
  }
  
  .color {
    background-color: gray;
    border: 1px solid black;
  }
  
  .gridContainer {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 22em;
    width: 20em;
  }

  .gridContainer1 {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 22em;
    width: 20em;
  }

  .gridContainer2{
    margin-top: 15px;
    margin-right: 20px;
    display: inline-grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    border: 3px solid black;
    border-radius: 3px;
    height: 12em;
    width: 14em;
  }

  #bloquear{
    pointer-events: none;
  }

  #resultado{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
  }