  body{
    width: auto;
    height: auto;
  }
  
  .right {
    float: right;
  }
  
  .left {
    display: inline-block;
    padding-left: 20%;
  }

  .secondMatrix {
    display: inline-block;
    padding-left: 20%;
  }
  
  .square {
    background-color: white;
    border: 1px solid black;
  }
  
  .color {
    background-color: gray;
    border: 1px solid black;
  }
  
  .gridContainer {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 450px;
    width: 450px;
  }

  .gridContainer1 {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 450px;
    width: 450px;
  }

  .gridContainer2{
    margin-top: 15px;
    margin-right: 20px;
    display: inline-grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    border: 3px solid black;
    border-radius: 3px;
    height: 225px;
    width: 225px;
  }

  #boton1{
    display: block;
  }

  #boton2{
    display: none;
  }

  #espaciar{
    padding-left: 11%;
  }

  #bloquear{
    pointer-events: none;
  }